:root {
    --cor_texto: #ffffff;
    --bg_cor: #ffffff;
    --card_cor: #93d0db;
    --cor-container: #2ea8be;
    --cor-botao: #137b8d;
    --cor-botao-hover: #63bece;
    --cor-excluir: #ff4d4d;
    --cor-excluir-hover: #cc0000;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg_cor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.titulo_topo{
    display: flex;
    flex-direction: row;
    align-items: center;
}


h2 {
    color: var(--cor_texto);
}

.material-symbols-outlined{
    font-size: 2vw;
    cursor: pointer;
    color: var(--cor-container);
    
}


.header {
    display: flex;
    color: var(--cor-botao);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
    width: 98vw;
}

.header h2{
    color: var(--cor-botao);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    max-width: 98vw;
    max-height: 90vh;
    width: 100vw;
    height: 95vh;
    background-color: var(--cor-container);
    padding: 1vw;
    color: var(--cor_texto);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.modal{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(20, 20, 20, 0.7);
    margin: 0;
}

form {
    background-color: var(--card_cor);
    width: 40vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vw;
    align-items: center;
    border-radius: 0.5vw;
    color: var(--bg_cor);
}

#btn_cadastrar, #btn_editar, #btn_remove{
    font-size: 1vw;
    background-color: var(--cor-botao);
    color: var(--cor_texto);
    border-radius: 0.3vw;
    width: 20vw;
    height: 3vw;
    margin-bottom: 1vw;
    cursor: pointer;
}


.modal_remove, .modal_edit{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(20, 20, 20, 0.7);
    margin: 0;


    & .header_titulo{
        width: 28vw;
    }
    
}

.modal_remove form{

    width: 30vw;
    height: 30vh;
}

.modal_edit form{

    width: 30vw;
    height: 70vh;
}

.header_titulo{
    width: 38vw;
    display: flex;
    color: var(--cor_texto);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.paciente, .data, .telefone, .genero{
    background-color: var(--cor-botao);
    display: flex;
    flex-direction: column;
    border-radius: 0.5vw;
    padding: 0.5vw 1vw;
    width: 20vw;
    color: var(--bg_cor);
    font-weight: bold;
}


.genero select{
    background-color: var(--cor-container);
    color: var(--cor_texto);
    border: 1px solid #fff;
    padding: 0.3vw;
    border-radius: 0.3vw;
    text-align: center;
    margin-top: 0.5vw;
}

.titulo{
    border: none;
    margin: 0;
}

.paciente input,
.telefone input, 
.data input{
    background-color: var(--cor-container);
    color: var(--cor_texto);
    border: 1px solid #fff;
    padding: 0.3vw;
    border-radius: 0.3vw;
    text-align: center;
    margin-top: 0.5vw;
    outline: none;
}

.paciente input{
    /* min-width: 25vw; */
    text-align: left;
}

.header{
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container{
    display: flex;
    justify-content: space-between;
}

.icones{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pacientes_cadastrados {
    min-height: 80vh;
    background-color: var(--card_cor);
    border-radius: 0.5vw;
    padding-top: 0;
    overflow-y: scroll;
}


table {
    width: 100%;
    border-collapse: collapse;
    color: var(--cor_texto);
    font-size: 1vw;
}

th, td {
    border: 1px solid #ffffff55;
    padding: 0.5vw 1vw;
    text-align: center;
}

th {
    position: sticky;
    top: 0;
    background-color: var(--cor-container);
    color: var(--cor_texto);
}

tbody tr:nth-child(even) {
    background-color: #ffffff22;
}

tbody tr:hover {
    background-color: var(--cor-botao-hover);
    transition: background 0.3s;
}


#form {
    display: flex;
    flex-direction: column;
}

.btn_enviar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
}

thead th{
    background-color: var(--cor-botao);
}

